<% include ./partials/header %>
    <div class="container">
        <div class="row">
            <p>Social<sup>2</sup> Account Settings Page for <%= currentUser.username%>.
        </div>

        <div>
            <p>Lets go ahead and link your first social media account to get started!</p>
        </div>
    </div>














<% include ./partials/footer %>