<% include ./partials/header %>
    <div class="container">
        <div class="row">
            <p>Welcome to Social Squared, or Social<sup>2</sup>! Register to merge your Reddit, Twitter, Facebook, and Instagram feeds into one easy to use view!</p>
        </div>
    </div>














<% include ./partials/footer %>