<% include ../partials/header %>



<div class="ui four column relaxed grid container">
    <div class="column">
      <img class="image" src="https://qph.fs.quoracdn.net/main-qimg-9ba647512232551e8a73064f2dc46970.webp" alt="">
      <img class="image" src="https://img.purch.com/o/aHR0cDovL3d3dy5sYXB0b3BtYWcuY29tL2ltYWdlcy93cC9wdXJjaC1hcGkvaW5jb250ZW50LzIwMTIvMDgvcmVkZGl0LWhvbWVwYWdlLnBuZw==" alt="">
    </div>
    <div class="column">
      <img class="image"  src="https://neilpatel.com/wp-content/uploads/2012/05/boring-background.png" alt="">
      <img class="image"  src="https://neilpatel.com/wp-content/uploads/2012/05/boring-background.png" alt="">
    </div>
















<% include ../partials/footer %>