<% include ../partials/header %>



<<<<<<< HEAD
<div class="ui four column relaxed grid container">
    <div class="column">
      <img class="image" src="https://qph.fs.quoracdn.net/main-qimg-9ba647512232551e8a73064f2dc46970.webp" alt="">
      <img class="image" src="https://img.purch.com/o/aHR0cDovL3d3dy5sYXB0b3BtYWcuY29tL2ltYWdlcy93cC9wdXJjaC1hcGkvaW5jb250ZW50LzIwMTIvMDgvcmVkZGl0LWhvbWVwYWdlLnBuZw==" alt="">
    </div>
    <div class="column">
      <img class="image"  src="https://neilpatel.com/wp-content/uploads/2012/05/boring-background.png" alt="">
      <img class="image"  src="https://neilpatel.com/wp-content/uploads/2012/05/boring-background.png" alt="">
    </div>
=======
<div class="ui container">
    <img src="https://images.unsplash.com/photo-1489945796694-07eba0228bc7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1a81eb5f2e6d1b80357e13c12fbe04e&auto=format&fit=crop&w=634&q=80">
</div>
>>>>>>> 501086fa57d115d40b06861275cbe92ef4fb1b44















<% include ../partials/footer %>