<% include ./partials/header %>



<div class="container">
    <div  class="row">
        <form id="login-form" class="form form-horizontal col-md-3" method="post" action="/login">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" >
            </div>
            <div class="form-group">
                <button class="btn btn-large btn-success" id="registerBTN" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>







<% include ./partials/footer %>