.image{
    width: 700px;
    height: 400px;
}
body{
    background-color: white;
}

.Nav-logo{
    font-weight: 700;
    font-family: Merriweather;
    color: aqua;
    font-size: 1.5em;
}
.row{
    margin-left: 5%;
    margin-top: 2%;
}

#login-form{
    margin:0 auto;
    background-color: bisque;
}

.nav-link {
    color: white;
}

a:hover.nav-link {
    text-decoration: none;
}


